// Variety
$link-color: rgb(7, 7, 220);

$bg-gradient-header1: linear-gradient(45deg, #959595c4 0, #28356a);
$bg-gradient-header2: linear-gradient(90deg, #28356a 0, #959595c4);
$bg-gradient-header3: linear-gradient(
  120deg,
  #28356a 0%,
  rgb(57, 84, 94) 51%,
  #28356a 100%
);

// Background gadient colors
$bg-gradient-home1: linear-gradient(
  120deg,
  rgba(225, 10, 53, 0.8) 0%,
  rgba(17, 102, 113, 0.8) 0%,
  rgba(184, 16, 50, 0.8) 100%
); // crimson

$bg-gradient-home2: linear-gradient(
  45deg,
  rgba(94, 171, 197, 0.8) 0%,
  rgba(57, 84, 94, 0.8) 51%,
  rgba(108, 162, 180, 0.8) 100%
); // purple

$bg-gradient-home3: linear-gradient(
  to right,
  rgba(17, 91, 7, 0.8) 0%,
  rgba(120, 136, 17, 0.8) 51%,
  rgba(25, 147, 9, 0.8) 100%
);
